/* @import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap"); */

.App {
  background-color: #ffcc80;
}

nav {
  margin: 0 auto;
  text-align: center;
  background-color: #ffcc80;
  font-family: "Birthstone", cursive;
  font-size: 3rem;
  background-color: #ffcc80;
}

nav > img {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.checkout {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background: white;
}

.checkout > p {
  line-height: 1;
}
