.card {
  border: 1px solid #512321;
  background-color: white;
  border-radius: 32px;
  overflow: hidden;
  text-align: center;
  margin: 8px;
  /* transition: all 2s; */
}

.card:hover {
  transition: all 0.3s;
  outline: 8px solid #e8752e;
  border: 1px solid #e8752e;
}

img {
  max-width: 208px;
  max-height: 208px;
}
